* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poiret One", cursive;
}

body header {
  text-align: center;
}

body header .menu1 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header .menu1 li a {
  text-decoration: none;
  padding: 0.7rem;
  color: black;
  font-size: 25px;
}

body header .menu1 li a:hover {
  color: #08f;
  font-weight: bold;
}

body .header1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

body nav {
  padding: 1rem;
}

body h2 {
  font-family: "Poiret One", cursive;
}

body main .boton {
  list-style-type: none;
}

body main .boton li a {
  text-decoration: none;
  padding: 0.7rem;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border: 1.5px solid;
}

body main .boton li a:hover {
  border: 2px solid black;
  font-size: 29px;
  font-weight: bold;
}

body main .sec2 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0 0 6px white;
}

body footer {
  background-color: #454545;
}

body footer .pf {
  font-family: "Poiret One", cursive;
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding: 0, 7rem;
  margin: 0, 7rem;
}

body footer .menu2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body footer .menu2 li a {
  text-decoration: none;
  color: white;
  padding: 0.1rem;
}

body footer .menu2 li a:hover {
  color: #08f;
  font-weight: bold;
}

body footer .sec3, body footer .sec4 {
  width: 500px;
  display: inline-block;
}

form {
  width: 450px;
  margin: auto;
  background: #cccecf;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  font-family: "Poiret One", cursive;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#botonc {
  background: #08f;
  color: #fff;
  padding: 20px;
}

#botonc:hover {
  cursor: pointer;
}

@media (max-widh: 480px) {
  form {
    width: 100%;
  }
}

.pagina {
  width: 90%;
  height: 90%;
  text-align: left;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  gap: 10px;
      grid-template-areas: "titulo titulo" "tex1 imagen1";
}

.titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
  grid-column: auto;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.tex1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tex1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  font-family: "Shalimar", cursive;
  font-size: 32px;
}

.imagen1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagen1;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  justify-items: center;
}

@media screen and (max-width: 760px) {
  .pagina {
        grid-template-areas: "titulo titulo" "tex1 tex1" "imagen1 imagen1";
  }
  .titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulo;
    grid-column: auto;
    -ms-grid-row: 1;
    grid-row: 1 / 1;
  }
  .tex1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: tex1;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    font-family: "Shalimar", cursive;
    font-size: 32px;
  }
  .imagen1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: imagen1;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
    justify-items: center;
  }
}
/*# sourceMappingURL=estilo.css.map */