@import "variables";

@mixin texto ($size) {
  font-size: $size;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $fuente-titulo;
  header {
    text-align: center;
    .menu1 {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      li a {
        text-decoration: none;
        padding: 0.7rem;
        color: black;
        font-size: 25px;
        &:hover {
          color: $color-azul;
          font-weight: bold;
        }
      }
    }
  }
  .header1 {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  nav {
    padding: 1rem;
  }
  h2 {
    font-family: $fuente-titulo;
  }
  main{
    .boton {
      list-style-type: none;
      li a {
        text-decoration: none;
        padding: 0.7rem;
        color: black;
        @include texto(25px);
        border: 1.5px solid;
        &:hover {
          border: 2px solid black;
          @include texto(29px);
        }
      }
    }
    .sec2 {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include texto(35px);
      text-shadow: 0 0 6px white;
    }
  }
  footer {
    background-color: $color-gris;
    .pf {
      font-family: $fuente-titulo;
      color: black;
      @include texto(19px);
      padding: 0, 7rem;
      margin: 0, 7rem;
    }
    .menu2 {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      li a {
        text-decoration: none;
        color: white;
        padding: 0.1rem;
        &:hover {
          color: $color-azul;
          font-weight: bold;
        }
      }
    }
    .sec3, .sec4 {
      width: 500px;
      display: inline-block;
    }
  }
}
form {
  width: 450px;
  margin: auto;
  background: #cccecf;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  @include texto(17px);
  border: none;
  font-family: $fuente-titulo;
}
textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
#botonc {
  background: $color-azul;
  color: #fff;
  padding: 20px;
  &:hover {
    cursor: pointer;
  }
}
@media (max-widh: 480px) {
  form {
    width: 100%;
  }
}
.pagina {
  width: 90%;
  height: 90%;
  text-align: left;
  margin: auto;
  justify-content: space-around;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  gap: 10px;
  grid-template-areas:
    "titulo titulo"
    "tex1 imagen1";
}
.titulo {
  grid-area: titulo;
  grid-column: auto;
  grid-row: 1 / 1;
}
.tex1 {
  grid-area: tex1;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  font-family: $fuente-texto;
  font-size: 32px;
}
.imagen1 {
  grid-area: imagen1;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-items: center;
}
@media screen and (max-width: 760px) {
  .pagina {
    grid-template-areas:
      "titulo titulo"
      "tex1 tex1"
      "imagen1 imagen1";
  }
  .titulo {
    grid-area: titulo;
    grid-column: auto;
    grid-row: 1 / 1;
  }
  .tex1 {
    grid-area: tex1;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    font-family: $fuente-texto;
    font-size: 32px;
  }
  .imagen1 {
    grid-area: imagen1;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    justify-items: center;
  }
}
